body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Changed background to white */
  color: #000000; /* Changed text color to black */
}

header {
  background: #f0f0f0; /* Light gray background for header */
  color: #000; /* Black text for header */
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  color: #ff9800;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
}

.gallery img {
  width: 200px;
  margin: 10px;
  transition: transform 0.2s;
  border-radius: 8px;
}

.gallery img:hover {
  transform: scale(1.1);
}

section {
  margin: 20px 0;
  background-color: #f0f0f0; /* Changed section background to light gray */
  padding: 15px;
  border-radius: 8px;
}

video,
audio {
  display: block;
  margin: 10px auto;
  width: 80%;
  background-color: #f0f0f0; /* Changed media background to light gray */
  border: none;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

section:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}

.warning-message {
  color: #ff5252;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .gallery img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  .gallery img {
    width: 80%;
  }

  section {
    padding: 10px;
  }

  video,
  audio {
    width: 90%;
  }
}
